body {
  margin: 0 auto;
}

/* Header style */
header {
  max-width: 100%;
  padding: 8px 98px;
  position: relative;
  background:#E7A66B;
}

header .wrapper_header {
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
}

nav ul {
  display: flex;
  text-align: center;
  list-style: none;
  align-items: center;
  gap: 48px;
}

.logg_ut {
  color: #21272A;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #000;
  background: #BCD9C3;
}

/* Footer style */
footer {
  background: #AC7F5E;
}

.wrapper_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 87vw;
  padding-top: 25px;
}

footer ul {
  color: #fff;
}


.icons img {
  margin-right: 16px;
}

.divider_footer {
  max-width: 86vw;
  height: 1px;
  margin: 26px auto;
  background:#C1C7CD;
}

.company {
  color: var(--Default-White, #fff);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 25px;
}

/* Header style */
header {
  max-width: 100%;
  padding: 8px 98px;
  position: relative;
  background:#E7A66B;
}

header .wrapper_header {
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
}

nav ul {
  display: flex;
  text-align: center;
  list-style: none;
  align-items: center;
  gap: 48px;
}

.logg_ut {
  color: #21272A;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #000;
  background: #BCD9C3;
}

/* Footer style */
footer {
  background: #AC7F5E;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.wrapper_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 87vw;
  padding-top: 25px;
}

footer ul {
  color: #fff;
}


.icons img {
  margin-right: 16px;
}

.divider_footer {
  max-width: 86vw;
  height: 1px;
  margin: 26px auto;
  background:#C1C7CD;
  color: white;
  text-decoration: none;
}


.company {
  color: var(--Default-White, #fff);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 25px;
}

.company a {
  color: white;
  text-decoration: none;
}

.company a:hover {
  color: white;
  text-decoration: none;
}
